<footer class="page-footer font-small darkBackground">
    <div class="footer-copyright text-center py-3">
        © 2019 Copyright: <span class="lightFont">Mathias Lund Ahrn | Certinax</span>
    </div>
</footer>