<div class="container nav-space text-center mt-3">
  <h1>{{title}}</h1>
  <hr>
  <br>
  <p>Welcome to scheduler, signup to create appointments and let people self-schedule your appointments.</p>
</div>